# 1. Ignore everything in the home directory
#/*

.*

# 2. Allow-list specific training folders
#!/system-process/
#!/ansible-config/
#!/inventory/

# 3. Allow-list Git configuration files
!.gitignore
!README.md

# 4. Specifically ignore sensitive Linux/Hidden files just in case
.ssh/
.bash_history
.ansible/
.cache/
.viminfo
github-pat.txt


# Ignore Ansible/Lab artifacts in any directory
*-artifact-*.json
# Ignore Ansible collections deep inside any exercise folder
**/collections/

